* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
  background: linear-gradient(135deg, #00664b, #2f218b);
  background-size: cover;
  background-attachment: fixed;
}

.card {
  width: 90%;
  max-width: 470px;
  min-width: 300px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  min-width: 175px;
  min-height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 10px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
}

.search button img {
  width: 16px;
  aspect-ratio: 16/20;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: 10px;
}

.weather h2 {
  font-size: 80px;
  font-weight: 400;
  margin-top: -10px;
}

.weather h3 {
  font-size: 23px;
  font-weight: 400;
  margin-top: -20px;
  text-transform: capitalize;
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 50px;
  column-gap: 35px;
  row-gap: 40px;
}

.col {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.col p {
  width: 100px;
}

.col img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.humidity, .wind, .visibility, .pressure {
  font-size: 28px;
  margin-top: 0px;
  
  width: 100%;
}

/* .weather {
  display: none;
} */

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-weight: 700;
}
